.card img {
  width: 100%;
  height: 47vh; /* mobile default */
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 12px;

  /* Standard mask */
  mask-image: radial-gradient(circle, white 60%, transparent 100%);
  -webkit-mask-image: -webkit-radial-gradient(white 60%, transparent 100%);
}

/* Tablet screens */
@media (min-width: 600px) {
  .card img {
    height: 55vh;
  }
}

/* Laptop screens */
@media (min-width: 900px) {
  .card img {
    height: 65vh;
  }
}

/* Big Desktop */
@media (min-width: 1200px) {
  .card img {
    height: 75vh;
  }
}
