.page-container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  transition: background 0.5s ease-in-out;
}

/* Card */
.card {
  width: 90%;
  max-width: 430px;
  padding: 25px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.card h1 {
  font-size: 26px;
  margin-bottom: 10px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.card p {
  font-size: 18px;
  line-height: 1.4;
}

/* Top-right buttons */
.top-right {
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
  z-index: 999;
}

.btn {
  padding: 8px 14px;
  background: rgb(36, 35, 34);
  color: rgb(227, 217, 217);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background: rgb(84, 90, 53);
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.35);
  border: none;
  font-size: 35px;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
}
.left { left: 15px; }
.right { right: 15px; }
.arrow:hover {
  background: white;
  color: black;
}

/* Dots */
.dots {
  position: absolute;
  bottom: 25px;
  display: flex;
  gap: 8px;
}
.dot {
  width: 12px;
  height: 12px;
  background: white;
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  opacity: 1;
  transform: scale(1.3);
}
