/* Prevent mobile zoom + remove tap highlight */
* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* prevents page bounce/stripe */
}

/* Responsive fix */
body {
  touch-action: pan-y;
}

/* Container */
.page-container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
}

/* Card */
.card {
  width: 92%;
  max-width: 420px;
  padding: 22px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
  object-fit: cover;
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 1.2;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.card p {
  font-size: 17px;
  line-height: 1.4;
}

/* Top-right buttons */
.top-right {
  position: fixed;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 10px;
  z-index: 999;
}

.btn {
  padding: 8px 14px;
  background: rgb(36, 35, 34);
  color: rgb(227, 217, 217);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

/* Arrows */
.arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.35);
  border: none;
  font-size: 32px;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.left { left: 15px; }
.right { right: 15px; }

/* Dots */
.dots {
  position: absolute;
  bottom: 25px;
  display: flex;
  gap: 8px;
}
.dot {
  width: 12px;
  height: 12px;
  background: white;
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  opacity: 1;
  transform: scale(1.3);
}

/* Mobile text scaling fix */
@media (max-width: 480px) {
  .card h1 {
    font-size: 20px;
  }
  .card p {
    font-size: 16px;
  }
}
