.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #1b2341, #d4b46a);
    color: white;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
  }
  